

.navbar-fixed-top {
  background-color: #777;
  border: none;
}

.navbar-logo {
  font-size: 6em;
  background-color: #555;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  font-family: 'Trade Winds', cursive;
}

.navbar-info {
  padding-top: 20px;
  padding-left: 20px;
}

.navbar-info p {
  padding: 0px;
  margin: 0px;
  color: #ffffff;
}

.navbar-info > .navbar-name {
  font-size: 2.5em;
  font-weight: 300
}

.navbar-info > .navbar-description {
  font-weight: 300;
  font-size: 1.2em
}

.navbar-right > li > a {
  color: #e6e6e6 !important;
  font-weight: 300;
  font-size: 1.2em
}

.navbar-right > li > a:hover {
  color: #fff !important;
}

.navbar-right > .active > a {
  background-color: #777 !important;
  color: #33ccff !important;
}

.navbar-right > li > a > p {
  text-align: center;
  font-size: 2em
}

.navbar-right {
  padding-top: 15px
}

.page-content {
  margin-top: 150px
}

.blog-text {
  font-size: 1.7em;
  font-weight: 200;
  text-align: justify;
}

.typeahead {
  background-color: #fff;
}

.tt-dropdown-menu {
  width: 500px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}
.tt-suggestion p {
  margin: 0;
  text-align: left !important
}

.blog-content .tt-suggestion {
  padding: 8px 20px;
}

#blog .tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}

#blog  .tt-blog-name {
  font-weight: bold;
}

#blog  .tt-blog-date {
  font-size: 0.7em 
}

#blog {
  margin-bottom: 200px
}

.section-header {
  text-align: center;
  padding-bottom: 100px;
  padding-top: 150px
}

.blog-header input {
  text-align: left;
  width: 500px !important
}

.section-header h1 {
  font-weight: 100 !important;
  font-family: 'Roboto', sans-serif;
  font-size: 6em;
  color: #999;
}

.briefcase h2 {
  font-weight: 300 !important;
  font-family: 'Roboto', sans-serif;
}

.blog-header h1 {
  margin-bottom: 50px
}

.blog-header i {
  color: #33ccff
}

#portfolio, #portfolio div {
  background-color: #555 !important;
  color: #ffffff;
}

.briefcase > .product-details {
  padding: 50px;
}

.briefcase p {
  font-size: 1.2em;
  font-weight: 300
}

.briefcase a {
  color:  #33ccff
}

#portfolio h1 {
  color: #ffffff;
}
