
<div class="briefcase">
  <div class="col-sm-6 col-sm-offset-6" id="about-pane">
    <p>I am a high school teacher in Fort Worth, TX who enjoys learning new things and teaching others the same. I particularly enjoy teaching and learning calculus, astronomy, engineering, and software development.</p>
    <p>In my free time I enjoy developing web applications for my classroom and fellow teachers, imagining and building novel solutions to problems in education, and being creative with whatever tools I have around me. </p>
    <p>I am always interested in learning about new opportunities and connecting with exciting people to solve challenging problems.</p>
    <div id="about-links">
        <a href="http://www.github.com/qdonnellan"><i class="fa fa-github"></i>
            <br>github
        </a>
        <a href="#contact"><i class="fa fa-envelope"></i>
            <br>contact
        </a>
    </div>
  </div>
</div>
