<div class="portfolio-header section-header">
  <h1>contact</h1>
</div>
<div class="contact-links">
  <div class="col-sm-8 col-sm-offset-4">
    <p>
      <a href="mailto:quentin@qdonnellan.com" ><i class="fa fa-envelope"></i> quentin@qdonnellan.com</a>
    </p>
    <p>
      <a href="https://twitter.com/qdonnellan" target="_blank"><i class="fa fa-twitter-square"></i> @qdonnellan</a>
    </p>
    <p>
      <a href="http://www.github.com/qdonnellan" target="_blank"><i class="fa fa-github"></i> github.com/qdonnellan</a>
    </p>
    <p>
      <a href="https://www.linkedin.com/pub/quentin-donnellan/13/754/80a" target="_blank"><i class="fa fa-linkedin-square"></i> resume</a>
    </p>
  </div>

</div>