<div class="portfolio-header section-header">
  <h1>teaching</h1>
</div>
<div class="briefcase">
  <div class="col-md-4 product-details">
    <h2>Fossil Ridge High School</h2>
    <p>
      <a href="http://campus.kellerisd.net/schools/FRH-002/Pages/default.aspx" target="_blank">
        <i class="fa fa-external-link"></i> www.kellerisd.net
      </a>
    </p>
    <p><strong>Calculus, Engineering, <span class="text-muted">Astronomy, Physics, Geometry</span></strong></p>
    <p>Over the past 6 years my full time job has been been teaching high school students in the suburbs north of Fort Worth, TX. This has been the most fun/challenging job I've ever had.</p>
  </div>
  <div class="col-md-4 product-details">
    <h2>EXES Teacher Associate, UT-Austin</h2>
    <p>
      <a href="http://www.as.utexas.edu/astronomy/research/exes_epo.html" target="_blank">
        <i class="fa fa-external-link"></i> Astronomy at UT-Austin
      </a>
    </p>
    <p>For several years now I've been a member of this awesome teacher group sponsored by the Astronomy department at UT. During this time I've had the opportunitiy to teach the group on several astronomy and astrophysics related topics.</p>
  </div>
  <div class="col-md-4 product-details">
    <h2>Hone School</h2>
    <p>
      <a href="http://www.honeschool.com" target="_blank">
        <i class="fa fa-external-link"></i> honeschool.com
      </a>
    </p>
    <p>My newest education project, I maintain and teach a curriculum on introductory robotics and programming to a group of middle school students in our community </p>
  </div>
</div>