<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top hidden-xs">
  <div>
    <div class="navbar-header">
      <div class="navbar-info pull-left">
        <p class="navbar-name">
          QUENTIN DONNELLAN <span>{{ page_name }}</span>
        </p>
      </div> 
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {% if not page_name %}
        <li><a href="#about"><i class="fa fa-user"></i><br><span>about</span></a></li>
        <li><a href="#teaching"><i class="fa fa-book"></i><br><span>teaching</span></a></li>
        <li><a href="#entrepreneur"><i class="fa fa-lightbulb-o"></i><br><span>projects</span></a></li>
        <li><a href="#webdev"><i class="fa fa-code"></i><br><span>coding</span></a></li>
        <li><a href="#contact"><i class="fa fa-envelope"></i><br><span>contact</span></a></li>
        {% else %}
        <li><a href="/"><i class="fa fa-mail-reply"></i><br><span>go back</span></a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div> <!-- end Fixed navbar -->