{% extends "base.html" %}
{% block about_active %}class="active"{% endblock %}
{% block body %}
<div class="container">
  <div class="row-fluid">
    <div class="span6 offset3">
      <div class="marketing">        
        <h1><i class="muted icon-quote-left"></i> I love learning new things and helping others do the same <i class="muted icon-quote-right"></i></h1>
      </div>
      <hr class='soften'>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span8 offset2">
      <h4>My name is Quentin Donnellan<span class="muted"> I'm a husband, teacher, and software developer</span></h4>
      <p>In 2007 I graduated from <a href="http://www.tamu.edu/">Texas A&M University</a> with a degree in Aerospace Engineering but decided to pursue my passion for education and became a high school teacher at a large public school in Fort Worth, Texas. Since then I have taught Geometry, Physics, Astronomy, Calculus, Engineering, and have picked up a master's degree from the <a href="http://galileo.phys.virginia.edu/outreach/ProfessionalDevelopment/mape/">University of Virginia</a>. I've also launched a fledgling community-support organization for science outreach. On the side, I code and develop new programs that help my education efforts.</p>
      <p>In 2011 I married my beautiful wife, Kristen, and I spend most of my free time doing fun things around the house with her; most recently we (somewhat) completed our "<a href="/images/backyard_project.jpg">wavy wall</a>" - a landscaping project that has consumed the past 3 spring breaks!</p>
    </div>
  </div> 
  
</div>

{% endblock %}