<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset ="utf-8">
    <title>Quentin Donnellan</title>
    <link href = "/stylesheets/bootstrap.css" rel="stylesheet">
    <link href = "/stylesheets/docs.css" rel="stylesheet">
    <link href = "/stylesheets/prettify.css" rel="stylesheet">
    <link href = "/stylesheets/font-awesome.min.css" rel="stylesheet">
    <script src="/javascript/jquery.js"></script>
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="/javascript/bootstrap.js"></script>
    <script src="/javascript/prettify.js"></script>
    <script src="/javascript/lang-tex.js"></script>
  </body>
</html>