{% extends "base.html" %}
{% block blog_active %}class="active"{% endblock %}
{% block body %}
  <div class="container">
    <div class="row-fluid">
      {% if admin %}
        <a href="/edit_blog" class="pull-right">New Entry</a>
      {% endif %}
      {% for content in blog_content %}

        <div class="blog-post" id="post{{content.key.id()}}">
          {% if loop.first %}
            {% include 'large_blog_preview.html' %}
          {% else %}
            {% include 'small_blog_preview.html' %}
          {% endif %}
        </div>  
      {% endfor %}
    </div>
  </div>
{% endblock %}