{% extends "base.html" %}
{% block contact_active %}class="active"{% endblock %}
{% block body %}
<div class="container">
  <div class="row-fluid">
    <div class="span8 offset2">
      <h4>Find me on the web or come hangout</h4>
      <p class="muted">twitter <i class="icon-twitter"></i> <a href="https://twitter.com/qdonnellan/">@qdonnellan</a></p>
      <p class="muted">meetup <i class="icon-group"></i> <a href="http://www.meetup.com/edtechdfw/">dfw edtech</a></p>
      <br>
      <h4>... or contact me directly</h4>
      <p>Please feel free to contact me about pretty much anything education or technology related. I love talking to people about new ideas and innovative approaches to problems both big and small.</p>
      {% if success not in ['', none] %}
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Success!</strong> {{success}}
        </div>
      {% endif %}
      {% if error not in ['', none] %}
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Woops!</strong> {{error}}
        </div>
      {% endif %}
      <form method="post" class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="inputEmail" >Email Address</label>
          <div class="controls">
            <input type="text" id="inputEmail" name="email_addy" class="span12" placeholder="someone@somewhere.com">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputSubject">Subject</label>
          <div class="controls">
            <input type="text" id="inputSubject" name="email_subject" class="span12" >
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputContent">Message</label>
          <div class="controls">
            <textarea rows="10" class="span12" name="email_message"></textarea>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary" name="send_email"><i class="icon-envelope-alt"></i> Send Email</button>
          </div>
        </div>
    </form>
    </div>
  </div>
</div>

{% endblock %}