{% extends "base.html" %}
{% block body %}
  <div class="container">
    <div class="row-fluid">
      <form method="post" class="form-horizontal">
        <div class="control-group">
          <label class="control-label">Title</label>
          <div class="controls">
            <input type="text" name="title" placeholder="title" {% if content %}value="{{content.title}}"{% endif %}>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Image</label>
          <div class="controls">
            <input type="text" name="image" class="span8" placeholder="image" {% if content %}value="{{content.image}}"{% endif %}>
          </div>
        </div>
        <div class="control-group">          
          <label class="control-label">Preview Text</label>
          <div class="controls">
            <textarea rows="10" class="span8" name="preview" placeholder="preview">{% if content %}{{content.preview}}{% endif %}</textarea>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Blog Content</label>
          <div class="controls">
            <textarea rows="10" class="span8" name="body" placeholder="body">{% if content %}{{content.body}}{% endif %}</textarea>
          </div>
        </div>      
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
      </div>
  </div>
{% endblock %}