<div class="portfolio-header section-header">
  <h1>side projects</h1>
</div>
<div class="briefcase">
  
    <div class="col-sm-4 product-details">
      <div class="product-logo">
        <p class="lessonwell-brand">lesson<span>well</span></p>
      </div>
      <hr>
      <p><strong>Founder, Sole Proprietor</strong></p>
      <p>Lessonwell is a lesson management system that I designed to be easy and efficient for novice teachers to use</p>
      <p><a href="http://www.lessonwell.com" target="_blank">lessonwell.com</a></p>
    </div>
    <div class="col-sm-4 product-details">
      <div class="product-logo">
        <p class="honeschool-brand">HONE<span>SCHOOL</span></p>
      </div>
      <hr>
      <p><strong>Co-Founder, Curriculum Development, Web Development</strong></p>
      <p>Hone School is an afterscool program that currently offers a course in introductory robotics and programming</p>
      <p><a href="http://www.honeschool.com" target="_blank">honeschool.com</a></p>
    </div>
    <div class="col-sm-4 product-details">  
      <div class="product-logo">
        <img src="/img/edtechdfwlogo.jpeg"> 
      </div>
      <hr>
      <p><strong>Organizer</strong></p>
      <p>The EdTech DFW Meetup is a network of entrepreneurs and educators working to solve contemporary issues in education</p>
      <p><a href="http://www.meetup.com/edtechdfw/" target="_blank">EdTech DFW Meetup</a></p>
    </div>
    <div class="col-md-12"></div>
    <div class="col-sm-4 product-details">
      <div class="product-logo">
        <p class="science-council-brand">Keller<br>Science<br>Council</p>
      </div>
      <hr>
      <p><span class="text-danger">(defunct)</span> <strong>Co-Founder</strong></p>
      <p>The Keller Science Council sought to bring engaging opportunities for the students in the Keller, TX community by sponsoring science fairs, demonstrations days, and star gazing parties</p>
      <p><a href="https://www.facebook.com/sciencecouncil" target="_blank">Science Council on Facebook</a></p>
    </div>

</div>