{% extends "base.html" %}
{% block body %}
<div class="container page-content">

  <!-- blog -->
  <div class="row" id="blog">
    <div class="blog-header section-header">
      <h1>blog</h1>
      <div class="form-group">
        <input class="typeahead form-control input-lg" id="search-input" type="text" placeholder="search">
      </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <h1 data-bind="text: viewModel.title"></h1>
      <div data-bind="html: viewModel.html" class="blog-text"></div>
    </div>
  </div>
  <!-- end blog -->

  <!-- protfolio -->
  
</div>

  <!-- end portfolio -->

<div id="portfolio">
  <div>
    <div class="portfolio-header section-header">
      <h1>portfolio</h1>
    </div>
    
  </div>
</div>
{% endblock %}