{% extends "base.html" %}
{% block body %}
<div class="container page-content">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      {% for blog in active_blogs %}
      <li {% if loop.first %}class="active"{% endif %}><a href="#post-{{blog['year']}}-{{blog['month']}}-{{blog['day']}}" data-toggle="tab">{{blog['title']}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-9 blog-content">
    <div class="tab-content">
      {% for blog in active_blogs %}
      <div class="tab-pane fade {% if loop.first %}in active{% endif %}" id="post-{{blog['year']}}-{{blog['month']}}-{{blog['day']}}">
        <h1>{{blog['title']}}</h1>
        {{blog['content'] | markdown | safe}}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}