{% extends "base.html" %}
{% block body %}
<div class="container page-content">

  <!-- blog -->
  <div class="blog-content row" id="blog">
    <div class="blog-header section-header">
      <h1>blog <i class="fa fa-pencil"></i></h1>
      <div class="form-group">
        <input class="typeahead form-control input-lg" id="search-input" type="text" placeholder="search">
      </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <h1 data-bind="text: viewModel.title">leading...</h1>
      <div data-bind="html: viewModel.html" class="blog-text"></div>
    </div>
  </div>
  <!-- end blog -->

  <!-- protfolio -->
  <div id="portfolio">
    <div class="portfolio-header section-header">
      <h1>blog <i class="fa fa-briefcase"></i></h1>
    </div>
    
  </div>


  <!-- end portfolio -->

</div>
{% endblock %}