{% extends "base.html" %}
{% block blog_active %}class="active"{% endblock %}
{% block body %}
  <div class="container">
    <div class="row-fluid">
      <div class="blog-post span8 offset2" id="post{{content.key.id()}}">
        <a class="pull-right" href="/blog"><i class="icon-mail-reply"></i> Back to all posts</a>
          <h1>          
            <a class="blog-title" href="/blog/{{content.key.id()}}">{{content.title}}</a>        
            {% if admin %}
              <small><a href="/edit_blog/{{content.key.id()}}">[edit]</a></small>
            {% endif %}
          </h1>
          <p class="muted">{{content.created | datetime}}</p>
          <p>{{shorthand(content.body) | safe}}</p>              
      </div>
    </div>
  </div>
{% endblock %}