{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="span10 offset1">
    <form method="post">
      <ul id="myTab" class="nav nav-tabs">
          <li class="active"><a href="#this-course" data-toggle="tab">This Course<br><small class="muted">Already Added</small></a></li>
          <li><a href="#ccss" data-toggle="tab">CCSS<br><small class="muted">Common Core State Standards</small></a></li>
          <li><a href="#teks" data-toggle="tab">TEKS<br><small class="muted">Texas Essential Knowledge and Skills</small></a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="this-course">
          <p class="muted"><strong>Current Standards Associated with this Course.</strong> When you create or edit your lessons, you will be able to attach standards associated with the following strands. </p>          
            {% for standard_bundle in current_standards %}
              <p>
                {% for part in standard_bundle %}
                  {% if loop.first %}<span class="muted">{% else %}<span>{% endif %}
                  {% if not loop.first %}<i class="icon-chevron-right text-info"></i> {% endif %}{{part}}</span>                  
                {% endfor %}
              </p>
              <br>
            {% endfor %}
        </div>
        <div class="tab-pane fade in" id="ccss">
          <p class="muted"><strong>The Common Core State Standards</strong> are organized by ELA-Literacy and Math strands/grade levels. Please select the strands/grade levels you want to associate with your course. When you create or edit your lessons, you will be able to choose standards that belong to the strands/grade levels you've selected below.</p>
          <p><button class="btn btn-small btn-primary">Save Changes</button></p>
          <div class="accordion" id="master-accordion2"> <!-- master accordion -->
          {% for domain in ccss.domains %}
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#master-accordion2" href="#ccss-{{domain.id}}">
                  {{domain.title}}
                </a>
              </div>
              <div id="ccss-{{domain.id}}" class="accordion-body collapse">
                <div class="accordion-inner master-inner {% if domain.title=='Math' %}math-div{% endif %}">
                  <!-- inner accordion -->
                  <div class="accordion" id="slave-accordion2-ccss-{{domain.id}}"> 
                  {% if domain.title == 'ELA-Literacy' %}  
                    {% for subdomain in domain.subdomains %}                   
                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#slave-accordion2-ccss-{{domain.id}}" href="#ccss-{{domain.id}}-{{subdomain.id}}">
                            <i class="icon-signin muted"></i>
                            {{ subdomain.title }} 
                          </a>
                        </div>
                        <div id="ccss-{{domain.id}}-{{subdomain.id}}" class="accordion-body collapse">
                          <div class="accordion-inner">
                            {% for strand in subdomain.strands %}
                              <label class="checkbox">
                                <input type="checkbox" name="standards-checked" value="{{domain.id}}.{{subdomain.id}}.{{strand.id}}">
                                {{strand.title}}
                              </label>
                            {% endfor %} 
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    {% else %}     
                    {% for subdomain in domain.subdomains %}
                      <label class="checkbox">
                        <input type="checkbox" name="standards-checked" value="{{domain.id}}.{{subdomain.id}}">
                          {{subdomain.title}}
                      </label>
                    {% endfor %}
                    {% endif %}

                  </div>
                  <!-- end inner accordion -->
                </div>
              </div>
            </div>
            {% endfor %}
          </div> <!-- end master accordion -->
        </div>
        
        <div class="tab-pane fade in" id="teks">
          <p class="muted"><strong>The Texas Essential Knowledge and Skills</strong> are organized by content type, then by grade level, then by course name. You should explore each strand below and then choose the appropriate grade levels and courses you wish to associate with your course. When you create or edit your lessons, you will be able to choose TEKS that belong to your selection(s) below</p>
          <p><button class="btn btn-small btn-primary">Save Changes</button></p>
          <div class="accordion" id="master-accordion"> <!-- master accordion -->
            {% for chapter in teks.chapters %}
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#master-accordion" href="#teks-{{chapter.id}}">
                  {{chapter.title}}
                </a>
              </div>
              <div id="teks-{{chapter.id}}" class="accordion-body collapse">
                <div class="accordion-inner master-inner">
                  <!-- inner accordion -->
                  <div class="accordion" id="slave-accordion-{{chapter.id}}">
                    {% for subchapter in chapter.subchapters %}
                    <div class="accordion-group">
                      <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#slave-accordion-{{chapter.id}}" href="#teks-{{chapter.id}}-{{subchapter.id}}">
                          <i class="icon-signin muted"></i> {{subchapter.title}}
                        </a>
                      </div>
                      <div id="teks-{{chapter.id}}-{{subchapter.id}}" class="accordion-body collapse">
                        <div class="accordion-inner">
                          {% for section in subchapter.sections %}
                            {% if 'Implementation of Texas Essential' not in section.title %}
                            <label class="checkbox">
                              <input type="checkbox" value="teks-{{section.id}}" name="standards-checked">
                              {{ section.title }}
                            </label>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <!-- end inner accordion -->
                </div>
              </div>
            </div>
            {% endfor %}
          </div> <!-- end master accordion -->
        </div>  
      </div> 
    </form>  
  </div>
</div>

{% endblock %}