<div class="span6 blog-preview-small">
  {% if content.image in [None, none, 'None', ""] %}
    <div class="span12">
      <h4>          
        <a class="blog-title" href="/blog/{{content.key.id()}}">{{content.title}}</a>  
        {% if admin %}
          <small><a href="/edit_blog/{{content.key.id()}}">[edit]</a></small>
        {% endif %}
      </h4>
      <p class="muted">{{content.created | datetime}}</p>
      <p>{{shorthand(content.preview) | safe}}</p>              
    </div>
  {% else %}
    <div class="span4 content_image" >
      <a href = "/blog/{{content.key.id()}}" ><img src="{{content.image}}" /></a>
    </div>
    <div class="span8">
      <h4>          
        <a class="blog-title" href="/blog/{{content.key.id()}}">{{content.title}}</a>  
        {% if admin %}
          <small><a href="/edit_blog/{{content.key.id()}}">[edit]</a></small>
        {% endif %}
      </h4>
      <p class="muted">{{content.created | datetime}}</p>
      <p>{{shorthand(content.preview) | safe}}</p>              
    </div>
  {% endif %}
</div>