<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top hidden-sm hidden-xs">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-logo pull-left">Q</div>
      <div class="navbar-info pull-left">
        <p class="navbar-name">
          Quentin Donnellan
        </p>
        <p class="navbar-description">
          teacher, web developer, ed-tech enthusiast
        </p>
      </div> 
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#blog"><p><i class="fa fa-pencil"></i></p>blog</a></li>
        <li><a href="#portfolio"><p><i class="fa fa-suitcase"></i></p>portfolio</a></li>
        <li><a href="#contact"><p><i class="fa fa-envelope"></i></p>contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div> <!-- end Fixed navbar -->