<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top hidden-sm hidden-xs">
  <div>
    <div class="navbar-header">
      <div class="navbar-info pull-left">
        <p class="navbar-name">
          QUENTIN DONNELLAN
        </p>
      </div> 
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#blog"><i class="fa fa-pencil"></i></a></li>
        <li><a href="#teaching"><i class="fa fa-book"></i></a></li>
        <li><a href="#entrepreneur"><i class="fa fa-lightbulb-o"></i></a></li>
        <li><a href="#webdev"><i class="fa fa-code"></i></a></li>
        <li><a href="#contact"><i class="fa fa-envelope"></i></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div> <!-- end Fixed navbar -->