<div class="portfolio-header section-header">
  <h1>web-development</h1>
</div>
<div class="briefcase">
  <div class="col-md-4 product-details">
    <h2>lessonwell</h2>
    <p>
      <a href="http://www.lessonwell.com" target="_blank">
        <i class="fa fa-external-link"></i> www.lessonwell.com
      </a>
    </p>
    <p><strong>Python, Google App Engine, Twitter Bootstrap, Kiln (Mercurial), stripe</strong></p>
    <p>I built lessonwell to make my life easier - it grew into a platform that many other teachers have found useful as well. Lessonwell allows me to quickly develop lessons with minimal effort and ensures that all my students, on any device, will be able to access those lesson.</p>
  </div>
  <div class="col-md-8">
    <img src="/img/lessonwell_ss.png" class="img-responsive">
  </div>
</div>