{% extends "base.html" %}
{% block work_active %}class="active"{% endblock %}
{% block body %}
<div class="container">
  <div class="row-fluid">
    <div class="span6">
      <h3>Teaching and Education</h3>
      <br>
      <h4>Calculus and Engineering</h4>
      <p><a href="http://campus.kellerisd.net/schools/FRH-002/Pages/default.aspx">Fossil Ridge High School</a></p>
      <p>I currently teach <a href="https://apstudent.collegeboard.org/apcourse/ap-calculus-bc">Calculus BC</a> and <a href="http://www.pltw.org/our-programs/high-school-engineering-program">Introduction to Engineering Design</a> at Fossil Ridge High School. I have previously taught Astronomy, Physics, and Geometry. </p>
      <hr>
      <h4>EXES Teacher Associate</h4>
      <p><a href="http://www.as.utexas.edu/astronomy/research/exes_epo.html">Astronomy Department, The University of Texas at Austin</a></p>
      <p>For the last several years I have participlated in a quite awesome group with the Astronomy Department at UT-Austin. Through this association I have participated in observing runs at the <a href="http://irtfweb.ifa.hawaii.edu/">IRTF</a> on Mauna Kea, taught a diffraction workshop at <a href="http://mcdonaldobservatory.org/">McDonald Observatory</a> and have yearly gone to the <a href="https://aas.org/">American Astronomical Society's</a> winter meetings.  </p>
      <hr>
      
      <h4>The Keller Science Council <button class="btn btn-mini disabled">Founder</button></h4>
      <p><a href="http://www.kellerscience.com">kellerscience.com</a></p>
      <p>This project started as an idea to bolster the collaboration between students and industry, university, and community partners. After winning a grant from our school district we have brought several events to the community including hands-on science days, a mini technology fair, and a city-wide start party. We currently have plans to incorporate this project as a non-profit</p>
    </div>
    <div class="span6">
      <h3>Software Development</h3>
      <br>
      <h4>lessonwell <button class="btn btn-mini disabled">Founder</button></h4>
      <p><a href="http://www.lessonwell.com">www.lessonwell.com</a></p>
      <p>My first startup-venture, lessonwell is a lesson/course platform concieved from two big ideas: lesson making should be simple; lessons should be accessible and look great on any device. I built lessonwell in Python in Google App Engine and hung it on Twitter Bootstrap. Lessonwell uses a mashup of Markdown, Latex, and my own shorthand to give teachers a powerfully simple text-based way of writing lessons. I manage my customers with <a href="http://www.stripe.com">stripe</a> and do version control with FogCreek's <a href="http://www.fogcreek.com/kiln/">Kiln</a>.</p>
    </div>
  </div>
</div>

{% endblock %}